* {
    box-sizing: border-box;
    }

@font-face {
        font-family: Script-Mt-Bold;
        src: url(../font/script-mt-bold.ttf)
      }

body{

   width: 100%;
   height: 100vh;
}

.container{
    margin:0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;


}

.containers{
    margin:0;
    width: 100%;
    height: 100vh;
    display: inline;
    justify-content: center;
    position: relative;

}

.cabecalho{
    display: inline-block;
    background-color: #A3DFC3;
    height: 50px;
    width: 100%;
    box-sizing: content-box;
    position: relative;
    margin:0;
}

.menu {
    display: inline-block;
    vertical-align: top;
    margin: -15px;
    height: 60px;
    width: 900px;
    padding: 25px
}

.menu ul{
    margin:0;
    padding:0;
}


.menu li {
  display: inline-block;
  font-size: 1.3em;

}


.menu a{
    text-decoration-line: none;
    text-decoration: none;
    color: #553235;
    font-family: Script-Mt-Bold;
    padding: 10px 20px 10px 20px;
}

.menu a:hover, .menu a.selected{
    text-decoration: none;
    background-color:#97abc5;
    color: #e7dbdc;
}

.footer{
    display: inline-flex;
    position:flex;
    width: 100%;
    height: 70px;
    margin-top: -11px;
    background-color: #A3DFC3;
    color:#553235;
    font-size: 13px;
    font-family: Script-Mt-Bold;
}
#footer{
    display: inline-block;
    width: 100%;
}

.item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }

  .endereco {
    width: 500px;
    height: 20px;
    margin-left: 10px;
    margin-top: 1px;
  }
  .endereco img{
    height:20px;
    width: 20px;
  }

  .tel {
    width: 400px;
    height: 20px;
    margin-left: 10px;
    margin-top: 2px;
  }
  .tel img{
    height:20px;
    width: 20px;
  }

  .mail {
    width: 400px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 0px;
    font-size: 20px;
  }

  .mail img{
    height:20px;
    width: 20px;
  }

  .item .social > a:hover {
    opacity:0.9;
  }

  #social{
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 15px;
  }



@media(max-width:810px){

    #btn{
        display: block;
    }

    .menu{display:none;}
    .form{
        margin-top: 0%;
    }


}

@media(min-width: 809px){
    .cmenumobile {transform: translateX(325px);
                display:none;
    }

    #mobile{
        display:none;
    }

}

@media(max-width:1366px){
    .container{background-image: url("../image/fundo android.png");
             background-repeat: no-repeat;
             background-position: center;
    }
    #form_contato{justify-content: left;}
    .carrossel{
        display:none;
    }




}
@media(min-width:700px){
    .container{background-image: url("../image/logo fundo transparente.png");
             background-repeat: no-repeat;
             background-position: center;
            }


}



.btn-menu {
    display: none;
    float: right;
    width: 45px;
    height: 40px;
    margin:7px 20px 20px 20px;
    left: 10px;
    top: 10px;
    display:absolute;
    padding: 10px;
    background-color: #5e875b;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
  }

  .btn-menu span {
    height: 3px;
    display: block;
    margin-bottom: 5px;
    background-color: #A3DFC3;
  }


  .menu-mobile {
    margin-left: -500;
    display: flex;
    float : right;
    position: relative;

    width:270px;
    height:50%;
    background-color: rgb(243, 241, 241);


    transition-duration: 0.03s;
    -webkit-transition-duration: 0.03s;
    -moz-transition-duration: 0.03s;
  }


  .menu-mobile ul li {
    font-size: 17px;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,.1)
  }

  .menu-mobile ul li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #553235;
  }

  .menu-mobile ul li a:hover {
    background-color: rgba(182, 140, 140, 0.1);
  }

  .menu-mobile {
      transform: translateX(325px);
    }
.btn-menu {
        transform: translateX(0);
    }

.cmenumobile{
    position: relative;
}
.cmenumobile .menu-mobile {
    transform: translateX(0px);

    }

    .cmenumobile .btn-menu {
        transform: translateX(0px);
        left: 0px;
    }
.btn-form{

    border-radius: 15px;
    width: 100px;
    height: 30px;
}


/*Style para contato */

#form_contato{
    display:fixed;
    height: 100vh;
    width: 100%;
    margin:0;
    background-image: url("../image/fundo menu.png");
    justify-content: center;
    flex-direction: row;
    text-align: justify;

}
/*Style do formulário*/


.form{

    box-shadow:  0 0 10px #553235;
    position: relative;
    border-radius: 10px;

}


form{
    box-shadow:  0 0 10px #553235;
    position: relative;
    border-radius: 10px;




}
/*#form{
    margin-top: -100px;
    height: 500px;
    width: 550px;
}*/

.content{
    height: 100vh;
    width: 100%;
    position: relative;
}

.cmenumobile{
    position: relative;
    margin: -1000;
    display:none;
    left: 100;
}

.button{
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
    height: 100;
    border-radius: 10px;
}


.active{
    display:inline;
    float: right;
    transform: translateX(0px);
}

.nome{
    margin-left: 10px;
    margin-top: 10px;
    width: 90%;
}

label {
    width: 90%;
}

.email{
    margin-left: 10px;
    margin-top: 10px;
    width: 90%;
}

.text{
    margin-left: 10px;
    margin-top: 10px;
    width: 90%;
}
/*end form*/
.carrossel{
    margin-left: 900px;
    margin-top: 150px;
    height: 200px;
    width: 400px;
    font-family: 'Dancing Script', cursive;
    color:#553235;
}

.contexto{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center top;
    text-align: justify;

}

.texto{
    width: 900px;
    border-bottom-right-radius:5px ;
    border-radius: 5px;
    font-family: Papyrus;

}

.imagem{
    float: right;
}

li {list-style-image: url("../image/borboleta_li.png") ;
}
